<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col>
          <br> <br>
          <br> <br>
          <br>
          <div padding>
            <ion-item>
              <ion-input  [(ngModel)]="nombre" name="nom" type="text" placeholder="Nombre" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="apellido" name="apell" type="text" placeholder="Apellido" ngModel required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input [(ngModel)]="cedula" name="ced" type="text" placeholder="Cedula" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input [(ngModel)]="direccion" name="dir" type="text" placeholder="Direccion" ngModel required></ion-input>
                </ion-item>
              <ion-item>
                    <ion-input [(ngModel)]="telefono" name="tel" type="text" placeholder="Telefono" ngModel required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input [(ngModel)]="email" name="emai" type="text" placeholder="Correo Electronico" ngModel required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input [(ngModel)]="clave" name="con" type="password" placeholder="Constraseña" ngModel required></ion-input>
                </ion-item>

                <ion-button expand="block" >Registrarse</ion-button>
               
            <br>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
