<ion-header>
  <ion-toolbar>
    <ion-title>misPedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
    <div>
      <ion-list>
        <ion-list-header>
          <ion-searchbar value="Buscar"></ion-searchbar>
          <ion-button routerLink="/carrito">
            <ion-icon slot="end" ios="ios-cart" md="md-cart"></ion-icon>
            +
          </ion-button>
        </ion-list-header>
      </ion-list>
  
    </div>
    <ion-card-header>
        <ion-card-title>Supermercado MEGAJAEN</ion-card-title>
      </ion-card-header>
    <ion-card class="card">
      <ion-card-content>
        <ion-grid>
          <ion-row class="rowLabel">
            <ion-col size="3">
              N° Factura
            </ion-col>
            <ion-col>
              Fecha
            </ion-col>
            <ion-col >
              Estado
            </ion-col>
            <ion-col >
              Total
            </ion-col>
            <ion-col>
              Detalle
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col>
  
            </ion-col>
            <ion-col>
  
            </ion-col>
            <ion-col>
  
            </ion-col>
            <ion-col>
  
            </ion-col>
            <ion-col>
              <ion-button size="small"> 
                <ion-icon ios="ios-search" md="md-search"></ion-icon> Ver
              </ion-button>
            </ion-col>
          </ion-row>
  
  
  
        </ion-grid>
      </ion-card-content>
    </ion-card>
  
  </ion-content>