<ion-header>
  <ion-toolbar>
    <ion-title>cestaDias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Lunes</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Martes</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Miercoles</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Jueves</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Viernes</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Sabado</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Domingo</ion-label>
    </div><br><br>
    <div>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Enero</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Febrero</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Marzo</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Abril</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Mayo</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Junio</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Julio</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Agosto</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Septiembre</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Octubre</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Noviembre</ion-label><br>
      <ion-checkbox>
      </ion-checkbox>
      <ion-label>Diciembre</ion-label>
    </div>
  
  </ion-content>
